.container{
    height: 500px;
    width: 500px;
    background-color: yellow;
    border: 1px solid black;
    display: flex;
}
.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid red;
    background-color: aqua;
    /* transition: 2s; */

    /* transition:  all 5s ease-in 2s; */

    transition: transform 3s ease-in 1s;
}
.box:hover{
    background-color: rgb(246, 16, 27);
    /* transform: rotate(45deg); */
    transform: translateX(500px);
}